@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-fondo-claro: #f3f5fc;
  --fuente-inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo-claro);
}

header {
  width: 100vw;
  min-height: 5.5rem;
  background-color: rgb(90, 229, 90);/*temporal*/
}

.icono-inicio {
  width: 7.5rem;
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
}

main {
  width: 100vw;
  font-family: var(--fuente-inter);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  /*gap: 10%;*/
  /*align-items: center;
  justify-content: space-between;*/
}

.entrada {
  width: 70vw;
  /*padding: 0% 20%;*/
}

.entrada-texto {
  width: 100%;
}

.boton {
  font-family: var(--fuente-inter);
}

.salida {
  width: 30vw;
  /*padding: 0% 20%;*/
}

p {
  text-align: center;
}

.parrafo-1 {
  font-weight: 700;
}

.parrafo-1 {
  font-weight: 400;
}

footer {
  width: 100vw;
  background-color: aqua;
  display: flex;
}


@media screen and (max-width: 1000px) {

  header {
    min-height: 7.5rem;
  }

  .icono-inicio {
    top: 4.5rem;
    left: 1rem;
    width: 32px;
    height: 48px;
    object-fit: cover;
    object-position: center;
  }

  main {
    flex-direction: column;
  }

  .salida-persona {
    display: none;
  }
}


@media screen and (max-width: 500px) {

  header {
    width: 100vw;
    min-height: 4.5rem;
    background-color: rgb(90, 229, 90);/*temporal*/
  }
  .icono-inicio {
    position: relative;
    top: 1.5rem;
    left: 1rem;
  }
}