@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-fondo-claro: #F3F5Fc;
  --color-gray-400: #495057;
  --color-gray-500: #343A40;
  --color-dark-blue-300: #0A3871;
  --color-celeste: #D8DFE8;
  --fuente-inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo-claro);
  font-family: var(--fuente-inter);
}

header {
  width: 100vw;
  min-height: 5.5rem;
}

.icono-inicio {
  width: 7.5rem;
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
}

main {
  width: 100vw;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  /*gap: 10%;*/
  /*align-items: center;
  justify-content: space-between;*/
}

.entrada {
  width: 70vw;
  /*padding: 0% 20%;*/
}

.contenedor-entrada-texto {
  padding: 5% 2% 2% 5%;
}

.entrada-texto {
  width: 100%;
  min-height: 50vh;
  border-radius: 1.5rem;
  resize: none;
}

.entrada-texto::placeholder {
  color: #0A3871;
}

.contenedor-advertencia {
  padding: 2% 2% 1% 5%;
  display: flex;
  font-size: 0.75rem;
  color: var(--color-gray-400);
}

.contenedor-botones {
  min-height: 3rem;
  padding: 1% 2% 1% 5%;
  display: flex;
}

.boton {
  font-family: var(--fuente-inter);
  font-size: 1rem;
  width: 40%;
  border-radius: 1rem;
  cursor: pointer;
  resize: none;
}

.encriptar {
  background-color: var(--color-dark-blue-300);
}

.desencriptar {
  background-color: var(--color-celeste);
}

.salida {
  width: 30vw;
  /*padding: 0% 20%;*/
}

p {
  text-align: center;
}

.parrafo-1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-gray-500);
}

.parrafo-2 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-gray-400);
}

footer {
  width: 100vw;
  background-color: black;
  color: aqua;
  display: flex;
  justify-content: center;
  text-align: center;
}


@media screen and (max-width: 1000px) {

  header {
    min-height: 7.5rem;
  }

  .icono-inicio {
    top: 4.5rem;
    left: 1rem;
    width: 32px;
    height: 48px;
    object-fit: cover;
    object-position: center;
  }

  main {
    flex-direction: column;
  }

  .entrada {
    width: 100vw;
  }

  .salida-persona {
    display: none;
  }
}


@media screen and (max-width: 500px) {

  header {
    width: 100vw;
    min-height: 4.5rem;
  }
  .icono-inicio {
    position: relative;
    top: 1.5rem;
    left: 1rem;
  }

  .contenedor-botones {
    flex-direction: column;
  }
}